/*控制台最上上方数据组件样式*/
.topBtn1,.topBtn2,.topBtn3,.topBtn4,.topBtn5,.topBtn6{
	width: 15%;
	height: 100px;
	top: 15px;
	margin-left: 1.5%;
	border:none;
}
.topBtn1{
	background-color: rgb(82, 165, 239);
}
.topBtn2{
	background-color:rgb(100, 209, 241);
}
.topBtn3{
	background-color: rgb(4, 202, 196);
}
.topBtn4{
	background-color: rgb(114, 124, 183);
}
.topBtn5{
	background-color: rgb(255, 131, 129);
}
.topBtn6{
	background-color: rgb(255, 184, 91);
}

.BtnSpan{
	font-size: 25px;
}







/*控制台客户数据监控详情样式*/
.animateBox{
	width: 100%;
	height: 40px;
	margin-top:40px;
	/*animation:BoxMove 1s infinite linear;*/
	/*animation-iteration-count:1;*/
	/*animation-fill-mode:forwards;*/
	overflow: hidden;
}
.animateButton{
	float: right;
	width: 20px;
	height: 20px;
	top:5px;
	right:15px;
}
@keyframes MoveBefore {
    from {height: 40px;}
    to {height: 500px;}
}
@keyframes MoveAfter {
    from {height: 500px;}
    to {height: 40px;}
}
.animateTop{
	width: 100%;
	height: 40px;
	background-color: rgb(36, 42, 48);
}
.topSpan{
	color: white;
	font-size:14px;
	margin-left:10px;
	margin-top:8px;
	position: absolute;
}
.animateCenter{
	width:100%;
	height:94%;
}
.table{
	width: 80%;
	margin-left: 10%;
	border:1px;
}
.table tr{
	height: 20px;
	text-align:center;
}
.tableTR{
	background-color: rgb(112, 116, 120);
	font-weight:bold;
}






/*DeskCenter*/
.taskSpan{
	font-size: 17px;
}
.DatePicker{
	float: right;
	margin-right: 15px;
}
.DeskCenter2Table{
	width:96%;
	height:30px;
	margin-left:2%;
}
.DeskCenter2Table tr{
	width:100%;
	height:30px;
	text-align: center;
}

.DeskCenterBoxTOP{
	width: 100%;
	height: 30px;
	background-color: rgb(36, 42, 48);
}
.DeskCenterTopSpan{
	color: white;
	font-size:14px;
	margin-left:10px;
	margin-top:5px;
	position: absolute;
}