/*控制台最上上方数据组件样式*/
.topBtn1,.topBtn2,.topBtn3,.topBtn4,.topBtn5,.topBtn6{
	width: 15%;
	height: 100px;
	top: 15px;
	margin-left: 30px;
	border:none;
	opacity: 0.5;
}
/*.topBtn1{
	background-color: blue;
}*/
.topBtn2{
	background-color: cyan;
}
.topBtn3{
	background-color: green;
}
.topBtn4{
	background-color: #ca8eff;
}
.topBtn5{
	background-color: red;
}
.topBtn6{
	background-color: #ff5809;
}

.BtnSpan{
	font-size: 25px;
}







/*控制台客户数据监控详情样式*/
.animateBox{
	width: 100%;
	background-color: black;
	margin-top:40px;
	/*animation:BoxMove 1s infinite linear;*/
	/*animation-iteration-count:1;*/
	/*animation-fill-mode:forwards;*/
}
.animateButton{
	float: right;
	width: 20px;
	height: 20px;
	top:5px;
	right:15px;
}
@keyframes MoveBefore {
    from {height: 30px;}
    to {height: 500px;}
}
@keyframes MoveAfter {
    from {height: 500px;}
    to {height: 30px;}
}