/*控制台最上上方数据组件样式*/
.topBtn1,.topBtn2,.topBtn3,.topBtn4,.topBtn5,.topBtn6{
	width: 15%;
	height: 100px;
	top: 15px;
	margin-left: 1.5%;
	border:none;
	opacity: 0.5;
}
/*.topBtn1{
	background-color: blue;
}*/
.topBtn2{
	background-color: cyan;
}
.topBtn3{
	background-color: green;
}
.topBtn4{
	background-color: #ca8eff;
}
.topBtn5{
	background-color: red;
}
.topBtn6{
	background-color: #ff5809;
}

.BtnSpan{
	font-size: 25px;
}







/*控制台客户数据监控详情样式*/
.animateBox{
	width: 100%;
	height: 40px;
	margin-top:40px;
	/*animation:BoxMove 1s infinite linear;*/
	/*animation-iteration-count:1;*/
	/*animation-fill-mode:forwards;*/
	overflow: hidden;
}
.animateButton{
	float: right;
	width: 20px;
	height: 20px;
	top:5px;
	right:15px;
}
@keyframes MoveBefore {
    from {height: 40px;}
    to {height: 500px;}
}
@keyframes MoveAfter {
    from {height: 500px;}
    to {height: 40px;}
}
.animateTop{
	width: 100%;
	height: 40px;
	background-color: rgb(36, 42, 48);
}
.topSpan{
	color: white;
	font-size:14px;
	margin-left:10px;
	margin-top:8px;
	position: absolute;
}
.animateCenter{
	width:100%;
	height:94%;
}
.table{
	width: 80%;
	margin-left: 10%;
	border:1px;
}
.table tr{
	height: 20px;
	text-align:center;
}
.tableTR{
	height: 50px;
	background-color: rgb(112, 116, 120);
	font-weight:bold;
}






/*DeskCenter*/
.DeskCenterBox1{
	width: 45%;
	height: 400px;
	background: red;
	float: left;
	margin-left:3.3%;
	margin-top: 20px;
}
.DeskCenterBox2{
	width: 45%;
	height: 400px;
	background: red;
	float: left;
	margin-left:3.3%;
	margin-top: 20px;
}
.DeskCenterBox3{
	width: 45%;
	height: 400px;
	background: red;
	float: left;
	margin-left:3.3%;
	margin-top: 20px;
}
.DeskCenterBox4{
	width: 45%;
	height: 400px;
	background: red;
	float: left;
	margin-left:3.3%;
	margin-top: 20px;
}
.DeskCenterBoxTOP{
	width: 100%;
	height: 30px;
	background-color: cyan;
}